{% extends 'base.html.twig' %}

{% block contenu %}
<h1>Stage {{ stage.id }}</h1>

<p>
    Voici le stage {{ stage.id }}.
    {{ stage.titre }}, du {{ stage.dateDebut|date('Y-m-d') }}, au {{ stage.dateFin|date('Y-m-d') }}
</p>
<p>
    Description :
    {{ stage.description }}.
</p>
{% endblock %}