<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ProStage{% endblock %}</title>

    <!-- STYLE -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/fontello.css') }}">

        <!-- Surcharge de Bootstrap -->
        {# <link rel="stylesheet" href="{{ asset('/css/monStyle.css') }}"> #}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">

        <!-- TEXTE DU HAUT -->
        {% block header %}
            <div class="row en-tete">
                <div class="col-md-12">
                    <div class="page-header">
                        <br />
                        <h1>PROSTAGE</h1>
                        <br />
                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- MENU -->
        {% block menu %}
            <div class="row menu">
                <div class="col-md-12">
                    <div class="btn-group" role="group">
                        <button class="btn btn-secondary" type="button" onclick="location.href='/';">
                            <i class="icon-home"></i>
                        </button> 
                        <button class="btn btn-secondary" type="button" onclick="location.href='/entreprises';">
                            Stages par entreprises
                        </button> 
                        <button class="btn btn-secondary" type="button" onclick="location.href='/formations';">
                            Stages par formation
                        </button>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- CONTENU DE LA PAGE -->
        <div class="row">
                <div class="col-12">
                    <br /><br />
                </div>
            </div>
        {% block contenu %}

        {% endblock %}

         <div class="row">
            <div class="col-12">
                <p></p>
            </div>
        </div>

        <!-- PIED DE PAGE -->
        {% block footer %}
        {% endblock %}

    </div>

    <!-- JAVASCRIPT -->
    {% block javascripts %}
        <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('/js/popper.min.js') }}"></script>
    {% endblock %}
</body>
</html>